.pink {
  background-color: #FFB8C4;
}

.red {
  padding: 1%;
  background-color: #F67577;
}

[class*="col-"] {
  text-align: center;
  line-height: 150px;
  border: solid 1px black;
}


.nested [class*="col-"] {
  border-color: white;
}