.row {
  height: 180px;
}
.pink {
  background-color: #FFB8C4;
}

.red {
  background-color: #F67577;
}

[class*="col-"] {
  position: relative;
  text-align: center;
  height:100%;
  padding: 5px;
  border: solid 1px black;
}

[class*="col-"] .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nested {
  height: 100%;
}
.nested [class*="col-"] {
  border-color: white;
}